body {background-color: lightgray}
h1{
font-size: 44px;
color:#004eff;
}
h2{font-size: 28px;
color: #7f22ff;
}

.big{font-size: 60px;}
.uppercase{
    text-transform: uppercase;
}
.big.uppercase{
    color: green
}
span{color: violet
}